@model IEnumerable<Rankings.Web.Controllers.RankingViewItem>

@{
    ViewData["Title"] = @ViewBag.Title;
}
<h3>@ViewBag.Title</h3>
<table class="table table-striped table-dark" style="table-layout: fixed;">
    <thead>
        <tr>
            <th style="width: 20px;">
                @Html.DisplayNameFor(model => model.Index)
            </th>
            <th style="width: 300px;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 50px;">
                @Html.DisplayNameFor(model => model.Score)
            </th>
            
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Index)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
          
        </tr>
    }
    </tbody>
</table>