@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization
@model Rankings.Web.Models.ProfileViewModel

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
    </dl>
</div>
<div>
    @if ((await AuthorizationService.AuthorizeAsync(User, Model, "ProfileEditPolicy")).Succeeded)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
</div>
