@using Microsoft.AspNetCore.Authorization
@model IEnumerable<Rankings.Web.Models.ProfileViewModel>
@inject IAuthorizationService AuthorizationService

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "AdminPolicy")).Succeeded)
                    {
                        @Html.ActionLink("Edit", "Edit", new {/* id=item.PrimaryKey */}) 
                        @Html.Raw(" | ")
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, "AdminPolicy")).Succeeded)
                    {
                        @Html.ActionLink("Details", "Details", new {/* id=item.PrimaryKey */}) 
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
