@model IEnumerable<Rankings.Web.Models.RankingViewModel>

<p>
    <a asp-controller="Games" asp-action="Create">Register a new game!</a>
</p>
<p>A player needs to play at least 5 games to see it's ranking (and other stats)</p>
<table class="table" style="table-layout: fixed;">
    <thead>
        <tr>
            <th style="width: 20px;">
                @Html.DisplayNameFor(model => model.Ranking)
            </th>
            <th style="width: 200px;">
                @Html.DisplayNameFor(model => model.NamePlayer)
            </th>
            <th style="width: 100px;">
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th style="width: 100px;">
                @Html.DisplayNameFor(model => model.WinPercentage)
            </th>
            <th style="width: 100px;">
                @Html.DisplayNameFor(model => model.SetWinPercentage)
            </th>
            <th style="width: 300px;">
                @Html.DisplayNameFor(model => model.History)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="width: 20px;">
                @Html.DisplayFor(modelItem => item.Ranking)
            </td>
            <td style="width: 200px;">
                @Html.DisplayFor(modelItem => item.NamePlayer)
            </td>
            <td style="width: 100px;">
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td style="width: 100px;">
                @Html.DisplayFor(modelItem => item.WinPercentage)
            </td>
            <td style="width: 100px;">
                @Html.DisplayFor(modelItem => item.SetWinPercentage)
            </td>
            <td style="width: 300px;">
                <ol class="results">@foreach (var result in item.History){<li class="result"><div class="result--@result">@result</div></li>}</ol>
            </td>
        </tr>
}
    </tbody>
</table>
