@model IEnumerable<Rankings.Web.Controllers.EloMatrixViewModel>

<h1>Elo Calculation For 2020</h1>
<br/>
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Elo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EloDiff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OneZeroWin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoZeroWin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoOneWin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreeZeroWin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreeOneWin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreeTwoWin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OneOneDraw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoTwoDraw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OneZeroLost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoZeroLost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoOneLost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreeZeroLost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreeOneLost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreeTwoLost)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Elo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EloDiff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneZeroWin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoZeroWin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoOneWin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreeZeroWin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreeOneWin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreeTwoWin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneOneDraw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoTwoDraw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneZeroLost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoZeroLost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwoOneLost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreeZeroLost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreeOneLost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreeTwoLost)
            </td>
        </tr>
    }
    </tbody>
</table>