@using Microsoft.AspNetCore.Authorization
@model IEnumerable<Rankings.Web.Models.GameViewModel>
@inject IAuthorizationService AuthorizationService

<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue)
        </th>
        <th>
            Winner
        </th>
        <th>
            Loser
        </th>
        <th>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if ((await AuthorizationService.AuthorizeAsync(User, item.Id, "GameEditPolicy")).Succeeded)
                {
                    @Html.ActionLink(item.RegistrationDate, "Edit", new {id = item.Id})
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameFirstPlayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameSecondPlayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreFirstPlayer) - @Html.DisplayFor(modelItem => item.ScoreSecondPlayer)
            </td>
        </tr>
    }
    </tbody>
</table>